/*----------------------------------
----------------General--------------
------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat-Regular', sans-serif;
  color: $paragraph-text-color;
  background: $main-bg;
}

a {
  text-decoration: none;
  color: #000;
}

*:focus {
  outline: 0;
}

%purple-underline {
  content: "";
  position: absolute;
  width: 142px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  margin: auto;
  border: 1px solid $heading-color;
}